<div class="container">
  <div class="jumbotron">
    <h1> {{ title }} </h1>
    <p> {{ today | date:'EEEE MMMM d y' }} </p>
    <h1 class="display-8">JS Challenge</h1>
    <h2 class="display-4">EXAMPLE OF POPULATION DATA IN THE WORLD!</h2>
    <p class="lead">This is an example of a population display graph for some countries in 2018.</p>
    <hr class="my-4">
  </div>

  <section>
    <p>2018 World Population by Country</p>

    <ngx-charts-advanced-pie-chart 
      [view]="view" 
      scheme="neons" 
      [results]="single" 
      [gradient]="gradient"
      [animations]="animations" 
      (select)="onSelect($event)" 
      (activate)="onActivate($event)" 
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-advanced-pie-chart>

    <div class="text-end">
      <a class="btn btn-info btn-sm align-content-end" href="#" role="button" (click)="refresh()">Reload Chart</a>
    </div>
  </section>

  <section>
    <h1 class="display-4">2018 World Population by Country</h1>
    <hr>
    <table class="table table-hover table-borderless" style="width: 100%">
      <thead>
        <tr>
          <th class="text-xl-start" scope="col">Country</th>
          <th class="text-start" scope="col">Population</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of populationData">
        <tr>
          <td> {{ item.name }} </td>
          <td class="text-start"> {{ item.value | number }} </td>
        </tr>
      </tbody>
    </table>

    <div>
      <p class="display-6">Total countries listed: {{ countryAmount }} </p>
    </div>
  </section>

  <section>
    <div class="container">
      <hr>
      <h1 class="display-8">UI Challenge</h1>
      <h2 class="display-4">EXAMPLE OF HTML AND CSS COLUMNS!</h2>
      <p class="lead">This is an example of three columns with HTML and CSS.</p>
      <hr class="my-4">

      <div class="row">
        <div class="col-sm loren">
          <p>What is Lorem Ipsum?
            Lorem Ipsum is simply a text simulation of the printing and printing industry,
            and has been in use since the 16th century, when an unknown printer took a tray
            of types and shuffled them to make a book of type templates. Lorem Ipsum survived no
            only five centuries ago, as well as the leap to desktop publishing, remaining essentially unchanged.
            It became popular in the 60s, when Letraset released decals containing passages from Lorem Ipsum,
            and more recently when it became integrated with desktop publishing software such as Aldus PageMaker.
          </p>
        </div>

        <div class="col-sm loren">
          <p>What is Lorem Ipsum?
            Lorem Ipsum is simply a text simulation of the printing and printing industry,
            and has been in use since the 16th century, when an unknown printer took a tray
            of types and shuffled them to make a book of type templates. Lorem Ipsum survived no
            only five centuries ago, as well as the leap to desktop publishing, remaining essentially unchanged.
            It became popular in the 60s, when Letraset released decals containing passages from Lorem Ipsum,
            and more recently when it became integrated with desktop publishing software such as Aldus PageMaker.
          </p>
        </div>

        <div class="col-sm loren">
          <p>What is Lorem Ipsum?
            Lorem Ipsum is simply a text simulation of the printing and printing industry,
            and has been in use since the 16th century, when an unknown printer took a tray
            of types and shuffled them to make a book of type templates. Lorem Ipsum survived no
            only five centuries ago, as well as the leap to desktop publishing, remaining essentially unchanged.
            It became popular in the 60s, when Letraset released decals containing passages from Lorem Ipsum,
            and more recently when it became integrated with desktop publishing software such as Aldus PageMaker.
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr class="my-4">

  <footer class="text-center text-lg-start bg-light text-muted">

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Meplis Code Challenge:
      <a class="text-reset fw-bold" href="https://github.com/marceloandrade1986/plotagem">github.com/marceloandrade1986/plotagem</a>
    </div>

  </footer>
</div>